div#container{
    display: flex;
    flex-wrap: wrap;
}

div.box{
    width: calc((100% / 10) - 2rem);
    height: 100px;
    color: white;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-fizz{
    background-color: red;
}

.blue-buzz{
    background-color: blue;
}

.green-fb{
    background-color: green;
}